{% extends "layout.html" %}
{% load static i18n %}


{% block title %}
{% trans 'Anket Tamamlandı' %}
{% endblock title %}

{% block body %}
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
            <i class="icon-book icon-2x text-success-400 border-success-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
                <h5 class="card-title">Cevaplarınız alındı</h5>
                <p class="mb-3">Cevaplarınız başarıyla alınmıştır. Ankete katılım sağladığınız için teşekkür ederiz.</p>
                <a href="#" class="btn bg-success-400">Browse articles</a>
            </div>
        </div>
    </div>
{% endblock body %}